@page
@model MyRazorProject.Pages_About.IndexModel

@{
    ViewData["Title"] = "About Me";
}

@* <h1>Index</h1> *@

@* <p>
    <a asp-page="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AboutModel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutModel[0].Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutModel[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutModel[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutModel[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutModel[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AboutModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<h2>About Me</h2>
<h3>@Model.AboutModel.FirstOrDefault()?.Text1</h3>

<h2>What Iam Doing</h2>

<h3>@Model.AboutModel.FirstOrDefault()?.Text2</h3>